
.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
}

.header {
  width: 100%;
  position: fixed;
  background: white;
  top: 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header .link {
  padding-right: 40px;
}



.navbar {
  background-color: #ef5350 !important;
}

body {
  background-color: transparent !important;
}
body {
  text-align: center;
}

.pokedex {
  width: 100%;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.pokemon-card {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: #FFF;
  margin: 30px;
}

.pokemon-card img {
  margin-right: 20px;
}

.pokemon-info {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: #FFF;
  margin: 30px;
}
.info-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pokemon-info img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.abilites{
  display:flex;
  justify-content: space-between;
  margin: 20px 0;
}